body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1919;
}

.navbar {
    padding: 10px;
    background-image: url('animeclass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.create-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.input-section {
    flex-basis: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.input-box {
    margin-bottom: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#generate-content-button {
    background-color: #72086a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.resource-display {
    flex-basis: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.logo {
    display: block;
    width: 100px;
    margin: 0 auto 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* This ensures the image covers the entire area of the img element without stretching */
    margin-right: 10px; /* Space between the image and the name */
}
#userName {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#resource-display {
    flex-basis: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
